<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InvoiceOne</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          InvoiceOne
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <form action="/create" method="POST">
        <div class="column">

                <label>Invoice Date:</label>
                <label>{{ data.invoice_date }}</label>
              
            <h2>From</h2>
            <h3>{{ data.for_company_name }}</h3>
             
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="Company Address" name="for_company_address">{{ data.for_company_address }}</textarea>
              </div>
            </div>
        </div>
        <div class="column">

            <h2>To</h2>
            <h3>{{ data.to_company_name }}</h3>
             
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="Company Address" name="to_company_address">{{ data.to_company_address }}</textarea>
              </div>
            </div>
        </div>
      </div>
  
      <div class="columns">
        <div class="column">
          <table class="table is-responsive">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Price</th>
                
              </tr>
            </thead>
            <tbody>
        
              
            {% for item in items %}
              <tr>
                <td>
                  {{ item.item_name }}
                </td>
                <td>
                  {{ item.item_qty }}
                </td>
                <td>
                  {{ item.item_price }}
                </td>
              
              </tr>
            {% endfor %}
              <tr>
                <td>
                  
                </td>
                
                <td>
                  <input type="text" class="input" name="tax" placeholder="Tax">

                </td>
                <td>
                  <input type="text" value="{{ data.total }}" class="input total" name="total" placeholder="Total">
                </td>
                
              </tr>
              
            </tbody>
          </table>

        </div>

      </div> 


      <div class="columns">
        <div class="column">
          <button type="submit" class="button generate_invoice is-large is-success is-pulled-right" onclick="window.print()">Print</button>
        </div>
      </div> 
    </div>
  </form>
  </body>
</html>







